@{
    ViewData["Title"] = "Forgot Password";
}


<h1>Test Forgot Password</h1>
<form asp-controller="Home" asp-action="ForgotPassword" method="post">
    <input type="text" name="email" value="" />
    <button type="submit">Submit</button>
</form>
