@{
    ViewData["Title"] = "Reset Password";
}


@model TwitterMVC.ViewModels.ResetPasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<div id="root-login">
    <div class="login-form-container">
        <div class="login-form-icon">
            <i class="fab fa-twitter twitter-icon-login"></i>

        </div>
        <div class="login-form-title">
            <span>
                Reset Password
            </span>
        </div>
        <form asp-controller="Home" asp-action="ResetPassword" method="post" class="login-form" id="login-form">
            <div class="email-username email-2">
                <label class="input-label">
                    <div>
                        <div class="tag-container">
                            <span class="input-tag">New Password</span>
                        </div>
                    </div>
                    <div>
                        <input asp-for="@Model.Token" type="hidden" />
                        <input asp-for="@Model.UserId" type="hidden" />
                        <input asp-for="@Model.NewPassword" type="password" class="email-username-input" value="" required />
                    </div>
                </label>
            </div>

            <div class="form-login-button-container login-button-container-2">
                <div class="form-login-button login-button-2" onclick="submitOnClick('login-form')">
                    Reset Password
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function submitOnClick(formName) {
        document.forms[formName].submit();
    }

    feather.replace()

</script>