@{
    ViewData["Title"] = "Email Verification";
}




<div id="root-login">
    <div class="login-form-container">
        <div class="login-form-icon">
            <i class="fab fa-twitter twitter-icon-login"></i>

        </div>
        <div class="login-form-title">
            <h1>Email Verification</h1>
            <p>Thank you for verifying your email address!</p>
            <p>Click @Html.ActionLink("here to Login!", "Login", "Home")</p>
        </div>
    </div>
</div>

<script>

    feather.replace()

</script>